.button {
  background: darken($secondary-color, 60%);
  border: none;
  border-bottom: .3rem solid $message-background-color;
  color: $secondary-color;
  font-weight: 500;
  padding: $size-s;
  cursor: pointer;
}
