.gamegrid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.gamegrid {
  background-color: #444;
  margin: 0;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: stretch;
  border-radius: 5%;
}

.gamegrid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@media (min-width: $desktop-breakpoint) {
  .gamegrid {
    padding: $size-s;
  }
}
