.header {
  background: $background-color;
  color: white;
  margin-bottom: $size-m;
  padding: $size-m 0;
}

.header__title {
  font-size: $size-l;
  margin: 0;
}

.header__subtitle {
  color: $secondary-color;
  font-size: $size-m;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $size-m;
  }
}
