.message {
  width: 75vw;
  font-size: $size-l;
  color: $message-color;
  background: $message-background-color;
  padding: $size-m;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: $size-m;
}
