.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  background-color: scale-color(black, $alpha: -30%) !important;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $primary-color;
  color: white;
  min-width: 30rem;
  max-width: 40rem;
  padding: $size-l;
  text-align: center;
  outline: none;
  border-radius: $size-m;
}

.modal__title {
  margin: 0 0 $size-l 0;
}

.modal__body {
  margin: 0 0 $size-l 0;
  font-size: 2rem;
  font-weight: 300;
}
