// Colors
$primary-color: #fac;
$secondary-color: #caf;
$neutral-color: #555;
$background-color: darken(#333745, 20%);
$message-background-color: lighten($background-color, 20%);
$border-color: darken($neutral-color, 20%);
$message-color: #eee;

// Sizes and spacing
$size-s: 0.8rem;
$size-m: 1.2rem;
$size-l: $size-m * 2;
$size-xl: $size-m * 3;
$size-tile-label: $size-m * 10;
$desktop-breakpoint: 800px;
